body {
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  background-color: hsl(204, 43%, 93%)
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn{
  background-color: hsl(122, 100%, 44%);
  color: white;
  width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.div1 {
  background-color: white;
  padding: 40px;
}

.div1 h5{
  font-weight: 700;
  color:  hsl(179, 62%, 43%)
}

.div1 .p1{
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 15px;
}

.div1 .p2{
  color:  hsl(218, 22%, 67%);
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.div2 {
  background-color: hsl(179, 62%, 43%);
  padding: 40px;
  color: white;
  /* float : left; */
}

div h6{
  font-weight: 700;
}


.div2 .p1{
  color: hsl(204, 43%, 93%);
  padding: 20px;
  margin-bottom: -10px;
}

.div2 .p3{
  margin: 10px 0 30px;
  font-size: 0.9rem;
}



.div3 {
  background-color: hsl(179, 62%, 47%);
  padding: 40px;
  color: white;
}


.div3 p{
  font-size: 0.9rem;
    opacity: 92%;
    margin-top: 20px;
}

.dollar{
  font-size: 2rem;
  color: white;
  font-weight: 700;
  margin-bottom: -16px;
}

.inner-div{
  display : flex;
align-items : center;
}

.parent-div {
  width: 600px;
  margin: 50px auto;
  border-radius: 1%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow:hidden;
}

@media screen and (max-width: 767px) {
  .div1{
    padding: 20px;
  }

  .div2{
    padding: 20px;
  }

  .div3{
    padding: 20px;
  }
  .parent-div {
    width: 330px;
    margin: 50px auto;
    border-radius: 1%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    overflow:hidden;
  }
}
